

:root {
      --color-accent: #667de3; /* Defining the custom property */
    }

html { 
    accent-color: var(--color-accent);

     background-color: white;
}

h1 {
  color: rgb(227, 16, 171);

}

ul {
  display: contents;
}


ul li {
  display: contents;
}

nav {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid oklch(80% 3% 200);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em 0;
  border-bottom: 0.4em solid transparent; /* reserve space for hover/current */
  transition: none;
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
  font-weight: bold;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  color: var(--color-accent);
  background-color: hsl(230, 60%, 95%); /* light background with similar hue */
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  align-items: center;
  max-width: 600px;
  margin-inline: auto;
}

form label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  text-align: right;
  gap: 0.5em;
  font: inherit;
}

form input,
form textarea {
  font: inherit;
  box-sizing: border-box;
  width: 100%;
}

form button {
  grid-column: 1 / -1;
  display:block;
  width: 100%;
  margin-top: 1em;
  font: inherit;
  cursor: pointer;
  padding: 0.2px 1em;
}

@media (max-width: 500px) {
  form {
    grid-template-columns: 1fr;
  }

  form label {
    text-align: left;
  }
}


.projects { 
  display:grid; 
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  min-width: 15em;
  max-width: 1fr;
}

body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 15px; 
  
}