

:root {
      --color-accent: #667de3; /* Defining the custom property */
    }

html { 
    accent-color: var(--color-accent);

     background-color: white;
}

h1 {
  color: rgb(16, 227, 118);

}

ul {
  display: contents;
}

ul li {
  display: contents;
}


nav {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid oklch(80% 3% 200);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  border-bottom: 1px solid transparent; /* invisible but keeps layout consistent */
  transition: border-bottom 0.2s ease, color 0.2s ease;
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
  font-weight: bold;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  color: var(--color-accent);
  background-color: hsl(230, 60%, 95%); /* light background with similar hue */
}



body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 15px; 
  
}
